// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@mixin item-color($background-color: #fff, $text-color: #acacac) {
    background-color: $background-color;
    color: $text-color;
}

.leftpanel { 
    // Variaveis
    $background-color: color($colors, littledark);
    $text-color: #f0f0f0;
    $menu-background-color: color($colors, dark);
    $menu-text-color: #ccc;

    @include item-color($background-color, $text-color);

    .menu-label {
        @include item-color($menu-background-color, $menu-text-color);
        padding: 0 15px;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 25px;
        min-height: 2.8rem;
        margin-top: 0rem;

        ion-label {
            margin: 0;
        }
    }
    
    .list {
        //margin-top: 5em;

        button {
            padding-left: 0;
            padding-top: 0.5em;
            background-color: $background-color;
            font-size: 1.2em;
                        
            ion-icon{
                color: #b9b9b9;
                margin-right: 0.9em;
                margin-left: 0.7em;
            }

            .text{
                color: $text-color;
            }
        }
    }
}