page-page1 {
    
    .list {
        background-color: color($colors, light);
        
        ion-avatar {
            background-color: #333;
            padding: 5px;
            border-radius: 3px;
        }
    }

}
