page-page2 {
    .body {
        background-color: color($colors, lightgray);
        padding-right: 1.5em;
        padding-left: 1.5em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-radius: 3px;
    }
}
